<#@ template hostspecific="true" language="C#" #>
<#@ output extension=".txt" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="EnvDTE" #>
<#@ import namespace="System.Linq" #>
<#@ include file="$(SolutionDir)\_tt Templates\VisualStudioHelper.ttinclude" #>
<#@ include file="$(SolutionDir)\_tt Templates\VisualStudioReferenceHelper.ttinclude" #>
<#
	IEnumerable<Project> projects = this.VisualStudioHelper.GetAllProjects();
	foreach (var project in projects.Select(p => new{Name = p.Name, ItemsCount = this.VisualStudioHelper.GetAllProjectItems(p).Count()} ).OrderByDescending(x => x.ItemsCount))
	{
		//var projRefManager = new ProjectReferenceManager(project);
		WriteLine(project.ItemsCount.ToString() + "\t" + project.Name);
	}
#>